.simpsons_title {
    text-align: center;
    margin-bottom: 0;
}

.simpsons_text {
    margin-bottom: 10px;
}

.simpsons_photo {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.products_wrap {
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.product-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
}

.product-image {
    width: 150px;
}