.header {
    height: 50px;
}

.bg-blue {
    background-color: #3ac6ea;
}

.bg-dblue {
    background-color: #112a3e;
}

.bg-grey {
    background-color: #ced8e1;
}

.clr-blue {
    color: #3ac6ea;
}

.clr-grey {
    color: #ced8e1;
}

.clr-dblue {
    color: #112a3e;
}

.dis-flex {
    display: flex;
}

.flex-dir-clmn {
    flex-direction: column;
}

.jc-flex-end {
    justify-content: flex-end;
}

.jc-spc-btwn {
    justify-content: space-between;
}

.jc-ctr {
    justify-content: center;
}

.jc-spc-evnl {
    justify-content: space-evenly;
}

.al-it-ctr {
    align-items: center;
}

.mrg-null {
    margin: 0;
}

.mrg-rght-20 {
    margin-right: 20px;
}

.mrg-rght-50 {
    margin-right: 50px;
}

.mrg-rght-120 {
    margin-right: 120px;
}

.mrg-lft-10 {
    margin-left: 10px;
}

.mrg-lft-15 {
    margin-left: 15px;
}

.mrg-top-10 {
    margin-top: 10px;
}

.mrg-top-15 {
    margin-top: 15px;
}

.mrg-top-30 {
    margin-top: 30px;
}

.mrg-top-50 {
    margin-top: 50px;
}

.mrg-btn-30 {
    margin-bottom: 30px;
}

.mrg-l-r-10 {
    margin: 0 10px;
}

.mrg-l-r-20 {
    margin: 0 20px;
}

.mrg-20 {
    margin: 20px;
}

.nav {
    height: 100px;
}

.nav-button {
    width: 120px;
    height: 50px;
    margin-left: 60px;
}

.brd-rds-5 {
    border-radius: 5px;
}

.brd-rds-10 {
    border-radius: 10px;
}

.brd-rds-15 {
    border-radius: 15px;
}

.brd-rds-50 {
    border-radius: 50px;
}

.h1500 {
    height: 1500px;
}

.h400 {
    height: 400px;
}

.h350 {
    height: 350px;
}

.h300 {
    height: 300px;
}

.h180 {
    height: 180px;
}

.h150 {
    height: 150px;
}

.h120 {
    height: 120px;
}

.h80 {
    height: 80px;
}

.h20 {
    height: 20px;
}

.w20 {
    width: 20px;
}

.w60 {
    width: 60px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w250 {
    width: 250px;
}

.w270 {
    width: 270px;
}

.w300 {
    width: 300px;
}

.w400 {
    width: 400px;
}

.w500 {
    width: 500px;
}

.w1000 {
    width: 1000px;
}

.button {
    width: 120px;
    height: 30px;
}

.txt-al-ctr {
    text-align: center;
}

.box-sng-brdr-box {
    box-sizing: border-box;
}

.brdr {
    border: 2px solid #3ac6ea;
}

.round {
    border-radius: 50%;
}

hr {
    border: 1px solid #3ac6ea;
}

.flx-wrp-wrp {
    flex-wrap: wrap;
}
