h1 {
    background-color: #892726;
    color: #f4ead1;
    text-align: center;
}

p {
    margin: 0;
    box-sizing: border-box;
}

.first {
    background-color: #c0c0c0;
    padding: 20px;
}

.second {
    background-color: #6395ec;
    padding: 30px 0;
}

div {
    width: 200px;
    height: 200px;
}

.green {
    background-color: #6bba67;
}

.lilac {
    background-color: #8886ab;
    border-radius: 20px;
}